*{
    box-sizing: border-box;
    margin-top: 3px;
  }

#logo-img {
    width: 140px;
    margin-left: 30px;
}
nav {
    /*background-color: khaki;*/
    padding: 10px;
    margin-bottom: 40px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    color: #3E4551;
}
.active {
    background-color: white;
    color: #27ccc0;
    border-bottom: 2px solid #27ccc0;
}
#main-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}
#filter {
    display: flex;
    flex-direction: row;
}
#details{
    list-style: none;
}
#about{
    border-top: 1px solid lightgrey;
    text-align: center;
}
#emails{
    display: flex;
    flex-direction: column;
}
#listing{
    padding-left: 10px;
}
#create{
    margin: 10px;
    background-color: white; 
    color: #27ccc0;
    border: 2px solid #27ccc0;
}
#create:hover{
    background-color: #27ccc0;
    color: white;
}
#login{
    border: 1px solid lightgray;
    padding-left: 20px;
}
#login-bod{
    display: flex;
    flex-direction: column;
}
#Login{
    margin: 10px;
    background-color: white; 
    color: #27ccc0;
    border: 2px solid #27ccc0;
}
#Login:hover{
    background-color: #27ccc0;
    color: white;
}
#Sign-up{
    margin: 10px;
    background-color: white; 
    color: #27ccc0;
    border: 2px solid #27ccc0;
}
#Sign-up:hover{
    background-color: #27ccc0;
    color: white;
}
.form-inline > button{
    background-color: white; 
    color: #27ccc0;
    border: 2px solid #27ccc0;
}
.form-inline > button:hover {
    
    background-color: #27ccc0;
    color: white;
}
.dropdown {
    color: #3E4551;
    margin: 10px;
    margin-bottom: 30px;
}
.dropdown-menu:hover {
    background-color: #27ccc0;
}

#dropdownMenu1{
    color: #3E4551;
    border-style: none;
}
.card {
    box-shadow: 0 0 10px -5px black;
    margin: 10px;
    border-radius: 3px;
}
.card-img-top {
    width: 100%;
}   
.card-body {
    padding: 10px;
}
.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-footer-img {
    width: 15%;
}
#products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.modal-dialog{
    background-color: white;
    border-radius: 5px;
}
.modal-title{
        color: #3E4551;
        text-align: center;
        border-bottom: 2px solid #27ccc0;
}
.modal-body {
    text-align: center;
    margin-bottom: 10px;
}
.modal-price{
    color: #27ccc0;
}

.modal-footer > #button_1 {
    background-color: white; 
    color: #27ccc0;
    border: 2px solid #27ccc0;
}
.modal-footer > #button_2 {
    background-color: #27ccc0; 
    color: white;
    border: 2px solid #27ccc0;
}